
BASE_URL=
CLIENT_IP_HEADER=
CONSOLE_LOG=
DATABASE_URL=
MAXMINDDB_DOWNLOAD_URL=
OTEL_ENABLE_LOGS=
OTEL_ENABLE_METRICS=
OTEL_ENABLE_TRACING=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=
OTEL_EXPORTER_OTLP_PROTOCOL=
OTEL_EXPORTER_OTLP_TIMEOUT=
OTEL_EXPORTER_OTLP_TRACES_INSECURE=
OTEL_METRIC_EXPORT_INTERVAL=
OTEL_METRIC_EXPORT_TIMEOUT=
OTEL_SERVICE_NAME=
OTEL_TRACES_SAMPLER=
OTEL_TRACES_SAMPLER_ARG=
PORT=
REDIS_URL=
RUST_LOG=
SQLX_OFFLINE= 

